* {
    margin: 0 auto;
}
body {
    margin: .5em;
}
.container {
    border: 10px solid rgb(128, 0, 90);
    border-radius: 30px;
    background-color: rgb(255, 253, 253);
    padding: 2em;
    width: 400px;
}
label {
    display: block;
    font-size: 1.3em;
    margin-bottom: .5em;
    margin-top: 1em;
    margin-left: 1em;
}
input {
    width: 400px;
    padding: .8em;
    border: 1px solid grey;
    box-sizing: border-box;
    display: block;
}
#btn {
    width: 100%;
    background-color: rgb(128, 0, 90);
    color: rgb(233, 231, 231);
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    display: block;
    padding: .6em .8em;
    margin-top: 1.5em;
    cursor: pointer;
    text-align: center;
}

table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    font-family: '';
    overflow: hidden;
    font-weight: bold;
    margin-top: 20px;
}

table thead th {
    background: #009578;
    color: white;
}

table td,
table th {
    padding: 10px 20px;
    text-align: center;
}

table tbody tr:nth-of-type(even) {
    background: #eeeeee;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009578;
}
